*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
._*
analysis/.htaccess
analysis/lib/php/ServerIO.php
service/config/config.ini
service/config/config.ini.BACKUP.4384.ini
service/config/config.ini.BACKUP.5192.ini
service/config/config.ini.BACKUP.7352.ini
service/config/config.ini.BASE.4384.ini
service/config/config.ini.BASE.5192.ini
service/config/config.ini.BASE.7352.ini
service/config/config.ini.LOCAL.4384.ini
service/config/config.ini.LOCAL.5192.ini
service/config/config.ini.LOCAL.7352.ini
service/config/config.ini.REMOTE.4384.ini
service/config/config.ini.REMOTE.5192.ini
service/config/config.ini.REMOTE.7352.ini
