#content-main{
  margin-top:40px;
  min-height:475px;
}
.page-header {
  margin-top:20px
}
#footer-content{
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid #ddd;}
#footer-postcontent{
  margin-top:20px;
}
#footer-postcontent p{
  margin-left:12px;
}
ol {
    list-style-type:none;
}

.toggleInit {
    font-size: 22px;
    font-weight: bold;
}

.enableInit {
    color: green;
}

.disableInit {
    color: red;
}

#activityArea {
    width:40%;
}

.placeholder {
    background-color: #cfcfcf;
}

.ui-nestedSortable-error {
    background:#fbe3e4;
    color:#8a1f11;
}

.sortable li div {
  border: 1px solid #ddd;
  padding: 6px;
  margin: 0 0 1px;
  cursor: move;
  background: #f2f2f2;
}

#locArea {
    width:50%;
}

.activityControls {
    float:right;
}

/*.editAct, .editActGroup, .editLoc {
    float:right;
}*/

.editActGroup, .editAct {
    margin-left: 15px;
}

.disabled-loc, .disabled-act {
    background: gray;
}

.locDesc, .actDesc, .actGroupDesc, .locID, .actID, .actGroupID, #initID, #treeID {
    display:none;
}
.footer{
  margin-top: 40px;
}
.footer .nav{
  margin-bottom: 40px;
}
